body {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    width: 511px;
    height: 460px;
    background-color: #FAFAFA;
    border-left: 8px solid #808080;
    border-right: 8px solid #808080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .top-rectangle {
    width: 485px;
    height: 50px;
    background-color: #808080;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px; /* Añade un margen izquierdo para recargar el título a la izquierda */
  }
  
  .title {
    color: #FFFFFF;
    font-size: 20px;
    margin: 0;
    text-align: center; /* Centra el texto dentro del contenedor */
  }
  
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .profile-image {
    width: 190px;
    height: 190px;
    border-radius: 50%;
  }
  
  .welcome-text {
    color: #808080;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .continue-button {
    padding: 10px 20px;
    background-color: #0199CB;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  