body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 511px;
    width: 100%;
    height: 460px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.3);
  }
  
  .top-rectangle {
    width: 100%;
    height: 110px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  }
  
  .title {
    color: #808080;
    font-size: 20px;
    margin: 0;
  }
  
  .material-icons {
    font-size: 24px;
    color: #808080;
  }
  
  .icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #C8C8C8;
    border-radius: 50%;
  }
  
  .icon-circle .material-icons {
    color: #000000;
  }  
  
  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .image-container img {
    height: 70%;
    width: 70%;
    margin-top: 40px;
  }
  
  .profile-image {
    width: 190px;
    height: 190px;
    border-radius: 50%;
  }
  
  .welcome-text {
    margin-top: 60px;
    color: #808080;
    font-size: 16px;
  }
  
  .continue-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0199CB;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #version {
    margin-top: 30px;    
    color: #808080;
    font-size: 10px;
    bottom: 20px;
    right: 10px;
    background-color: #fff;
    width: 100%;
    padding: 5px;
    text-align: right;
    box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.3);
  }
  